.Container {
    background-color: #fff;
    padding: 2% 0%;
    width: 60%;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
  .Container {
      width: 90%; /* Change the width to 90% for smaller screens */
  }
}

  .table-container {
    max-width: 100%; /* Ensure the table doesn't overflow the container */
    overflow-x: auto; 
  }

  table {
    width: 100%; /* Make the table take up the full width of the container */
    table-layout:auto; /* Adjusts table cells automatically */
}


  .view-all {
    background-color: #007bff;
    font-size: small;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: auto;
    white-space: nowrap;
    display: block; /* Ensure the button behaves as a block element */
    margin-left: auto; /* Align the button to the right */
  }

  
  
  .Container button:hover {
    background-color: #0056b3;
  }
  
.title{
  align-self: center;
  margin-bottom: 2rem;
}

#editButton{
    
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
#editButton::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color: #dbf533;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms
}

/* #editButton:hover {
color: #e8e8e8;
} */

#editButton:hover::before {
width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

table th,
table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}


